@import "./../../../assets/scss/variables";

h5 {
  font-size: 16px;
  color: $font-color;
}

.container {
  margin-top: 28px;

  ul {
    list-style-type: none;
    padding-left: 0px;
  }
}

.info {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: white;
  padding-top: 12px;
  border-radius: 8px;
  padding-bottom: 30px;
  width: 100%;
  padding-left: 10px;
}

.generations-grid {
  margin-top: 30px;

  a {
    text-decoration: none;
  }

  .card-generation {
    border-radius: 8px;
    padding-top: 25px;
    padding: 20px;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    background-color: white;
    height: 80px;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 10px 30px rgba(56, 50, 152, 0.1);
    }

    h5 {
      margin-top: 10px;
    }

    span {
      display: block;
      color: $light-color;

      &:last-of-type {
        margin-top: 10px;
      }
    }
  }
}
